/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {

    background: #333;
    padding: 0px;
    font: 12px/15px Arial, sans-serif;
    overflow: hidden;
}


.container {
    margin: 0 auto;
    width: 500px;
    height: 350px;
    position: relative;

    margin-top: 100px;

    -ms-transform: none;

    -webkit-perspective: 4000px;
    -moz-perspective: 4000px;
    -ms-perspective: 4000px;
    -o-perspective: 4000px;
    perspective: 4000px;

}

.carousel {

    height: 100%;
    width: 100%;

    /* position: absolute; - possible IE10 bug */

    -ms-transform: none;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;

    -ms-transform-style: flat;
    transform-style: preserve-3d;


}

.cItem {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    color: #FFF;
    opacity: 1.0;
    background: #ccc;
    pointer-events: none;
    transition: transform 0.5s;
    /*border: 1px solid #999;*/
}

.layer {
    position: absolute;
    top: 0px;
    left: 0px;
}

canvas.layer {
    visibility: hidden;
}


.preloadTxt {
    position: absolute;
    top: 0px;
    left: 0px;
}


.deepBlur {

     filter:url(css/blur.svg#deepBlur); /* FF < 35 */
    -webkit-filter: blur(5px);
    filter: blur(5);

}

.middleBlur {
    filter:url(css/blur.svg#middleBlur);  /* FF < 35 */
    -webkit-filter : blur(2px);
    filter: blur(2px);

}

.noBlur {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    filter: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next, .prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}

.next:hover, .prev:hover {
    color: #000;
}

.next:active, .prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
}